{% set section = 'retrospective' %}

{% if data['q2iPreviousNotificationList']|length == 0 %}
{% set backlink = "/"+section+"/question2/question2-1" %}
{% else %}
{% set backlink = "/"+section+"/question2/question2-2" %}
{% endif %}
{% extends "../question.html" %}

{% block pageTitle %}
    Question 2 Page 2a
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form class="form" id="submitQuestion2-2a" name="submitQuestion2-2a" action="/retrospective/question2/question2-2apost"
            method="post">
            {% if (isEditing != null) and isEditing == true %}
            <input type="hidden" name="q2iEditingData" id="q2iEditingData" value="true" />
            <input type="hidden" name="q2iNotificationId" id="q2iNotificationId" value="{{ data['q2iNotificationId'] }}" />
            {% else %}
            <input type="hidden" name="q2iEditingData" id="q2iEditingData" value="false" />
            {% endif %}
            {{ forms.errorSummary(formValidation) }}

            {{ forms.legend("q2-2aiHeading", "Please provide details of previous notification") }}

            {{ govukCharacterCount({
                name: "q2iCaseReference",
                value: data.q2iCaseReference,
                id: "q2iCaseReference",
                maxlength: 5000,
                label: {
                    text: "Enter details including names, reference numbers and any other relevant information",
                    classes: "govuk-label--s",
                    isPageHeading: false
                }
            }) }}

            {{ forms.saveAndContinueButton("submitButton2-2a") }}

        </form>
    </div>
</div>

{% endblock %}