{% extends "layout.html" %}

{% block pageTitle %}
Feedback
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Give your feedback on this service</h1>
        <p>If you have a suggestion to help improve this service for others or you'd like to report a problem, get in touch by sending an email to:</p>
        <p>Email: <a href="maito:investment.screening@beis.gov.uk" title="email us at investment.screening@beis.gov.uk">investment.screening@beis.gov.uk</a></p>
        <p>This email address should only be used for feedback about this service.</p>
        <p>We will not be able to answer any questions about BEIS or the NSI Act.</p>
    </div>
</div>
{% endblock %}