{% extends "layout.html" %}

{% block pageTitle %}
Privacy
{% endblock %}

{% block header %}
{% if isAuthenticated == false %}
{% include "includes/startHeader.html" %}
{% include "includes/feedback.html" %}
{% else %}
{% include "includes/header.html" %}
{% include "includes/feedback.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Privacy</h1>
    </div>
</div>
{% endblock %}