{% extends "../add-to-list/add-another-form.html" %}
{% set section = 'mandatory' %}

{% if data['q1iAcquirerOrRepresentative'] === 'acquirer' %}
{% set backlink = "/"+section+"/question1/question1-2" %}
{% else %}
{% set backlink = "/"+section+"/question1/question1-3" %}
{% endif %}

{% block pageTitle %}Question 1 - 4b{% endblock %}

{% set formId = "q1ivb" %}
{% set action = "/mandatory/question1/question1-4b" %}
{% set heading = "Additional acquirers" %}
{% set listKey = "q1ivaAdditionalAcquirerList" %}
{% set displayKey = "q1ivaMultinotifiername" %}
{% set addAnotherHint = "" %}
{% set addAnotherLabel = "Do you need to add another acquirer?" %}