{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question8/question8-2" %}
{% extends "../question.html" %}

{% block pageTitle %}
    Question 8 Page 2a
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set isQuestionAnswered = data['q8iiClassifiedPolitically'] %}
        {% set isYes = data['q8iiClassifiedPolitically'] === 'Yes' %}
        {% set isNo = data['q8iiClassifiedPolitically'] === 'No' %}
        {% set isNa = data['q8iiClassifiedPolitically'] === 'Na' %}

        <form class="form" id="submitQuestion8-3a" name="submitQuestion8-3a" action="/mandatory/question8/question8-2apost"
            method="post">
            {% if (isEditing != null) and isEditing == true %}
            <input type="hidden" name="q8iiEditingData" id="q8iiEditingData" value="true" />
            <input type="hidden" name="q8iiBoardMemberId" id="q8iiBoardMemberId" value="{{ data['q8iiBoardMemberId'] }}" />
            {% else %}
            <input type="hidden" name="q8iiEditingData" id="q8iiEditingData" value="false" />
            {% endif %}
            <div class="govuk-form-group">
                {{ forms.errorSummary(formValidation) }}
                <fieldset class="govuk-fieldset">

                    {{ forms.legend("q8iiHeading", "Add a member of the board of directors or equivalent within the acquirer") }}
                    <div class="govuk-hint">Provide information about a director or equivalent. You’ll be given the option to add more people on the next page.</div>

                    {{ forms.textInput(
                        "Full name", "q8iiNameOfBoardMember", "q8iiNameOfBoardMember", data.q8iiNameOfBoardMember, maxLength="100") }}

                    {{ forms.dateInput("Date of birth", 'q8iiDateOfBirth', 'q8iiDateOfBirth', data['q8iiDateOfBirthDay'], data['q8iiDateOfBirthMonth'], data['q8iiDateOfBirthYear'], hintText="For example, 12 11 1987") }}

                    {{ forms.textInput(
                        "Position held", "q8iiPositionHeld", "q8iiPositionHeld", data.q8iiPositionHeld, maxLength="100") }}
                        
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                        Is this person classified as a Politically Exposed Person (PEP) or similar?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        {{ forms.radio("Yes",
                        "q8iiClassifiedPoliticallyYes", "q8iiClassifiedPolitically", "Yes", isQuestionAnswered and isYes) }}

                        {{ forms.radio("No",
                            "q8iiClassifiedPoliticallyNo", "q8iiClassifiedPolitically", "No", isQuestionAnswered and isNo) }}

                    </div>
                </fieldset>
            </div>
            {{ forms.saveAndContinueButton("submitButton8-3a") }}
        </form>
    </div>
</div>

{% endblock %}