{% extends "../add-to-list/add-another-form.html" %}
{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question5/question5-1" %}

{% block pageTitle %}Question 5 - 2b{% endblock %}

{% set formId = "q5iib" %}
{% set action = "/mandatory/question5/question5-2b" %}
{% set heading = "Government Security Classifications" %}
{% set listKey = "q5iiaClassificationListItems" %}
{% set displayKey = "q5iiaDepartment" %}
{% set isDisplayKeyGovDepartment = true %}
{% set addAnotherHint = "" %}
{% set addAnotherLabel = "Do you need to add another Security Classification?" %}