{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/task-list" %}
{% extends "../question.html" %}

{% block pageTitle %}
  Question 3 Page 1
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ forms.errorSummary(formValidation) }}

      {{ forms.legend("q3iHeading", "Which sectors are relevant to this notification?") }}
      <div id="q3iHeading-hint" class="govuk-hint">Select all that apply</div>

      <form class="form" id="submitQuestion3Pg1" name="submitQuestion3Pg1" action="/mandatory/question3/question3-1post" method="post">

        <!-- Section B - Question 3 (i) - BEGIN -->
        <div class="govuk-form-group">
 
          <div class="govuk-checkboxes">

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('ADVANCEDMATERIALS' in data['q3iSector']) %}
            {{ forms.checkBox("Advanced materials", "q3iSector1", "q3iSector", "ADVANCEDMATERIALS", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('ADVANCEDROBOTICS' in data['q3iSector']) %}
            {{ forms.checkBox("Advanced robotics", "q3iSector2", "q3iSector", "ADVANCEDROBOTICS", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('ARTIFICIALINTELLIGENCE' in data['q3iSector']) %}
            {{ forms.checkBox("Artificial intelligence", "q3iSector3", "q3iSector", "ARTIFICIALINTELLIGENCE", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('CIVILNUCLEAR' in data['q3iSector']) %}
            {{ forms.checkBox("Civil nuclear", "q3iSector4", "q3iSector", "CIVILNUCLEAR", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('COMMUNICATIONS' in data['q3iSector']) %}
            {{ forms.checkBox("Communications", "q3iSector5", "q3iSector", "COMMUNICATIONS", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('COMPUTINGHARDWARE' in data['q3iSector']) %}
            {{ forms.checkBox("Computing hardware", "q3iSector6", "q3iSector", "COMPUTINGHARDWARE", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('CRITICALSUPPLIERSTOTHEEMERGENCYSERVICESSECTORS' in data['q3iSector']) %}
            {{ forms.checkBox("Critical suppliers to the emergency services sector", "q3iSector7", "q3iSector", "CRITICALSUPPLIERSTOTHEEMERGENCYSERVICESSECTORS", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('CRITICALSUPPLIERSTOTHEGOVERNMENT' in data['q3iSector']) %}
            {{ forms.checkBox("Critical suppliers to the government", "q3iSector8", "q3iSector", "CRITICALSUPPLIERSTOTHEGOVERNMENT", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('CRYPTOGRAPHICAUTHENTICATION' in data['q3iSector']) %}
            {{ forms.checkBox("Cryptographic authentication", "q3iSector9", "q3iSector", "CRYPTOGRAPHICAUTHENTICATION", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('DATAINFRASTRUCTURE' in data['q3iSector']) %}
            {{ forms.checkBox("Data infrastructure", "q3iSector10", "q3iSector", "DATAINFRASTRUCTURE", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('DEFENCE' in data['q3iSector']) %}
            {{ forms.checkBox("Defence", "q3iSector11", "q3iSector", "DEFENCE", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('ENERGY' in data['q3iSector']) %}
            {{ forms.checkBox("Energy", "q3iSector12", "q3iSector", "ENERGY", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('MILITARYANDDUALUSE' in data['q3iSector']) %}
            {{ forms.checkBox("Military and dual-use", "q3iSector14", "q3iSector", "MILITARYANDDUALUSE", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('QUANTUMTECHNOLOGIES' in data['q3iSector']) %}
            {{ forms.checkBox("Quantum technologies", "q3iSector15", "q3iSector", "QUANTUMTECHNOLOGIES", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('SATELLITEANDSPACETECHNOLOGY' in data['q3iSector']) %}
            {{ forms.checkBox("Satellite and space technology", "q3iSector16", "q3iSector", "SATELLITEANDSPACETECHNOLOGY", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and (('ENGINEERINGBIOLOGY' in data['q3iSector']) or ('SYNTHETICBIOLOGY' in data['q3iSector'])) %}
            {{ forms.checkBox("Synthetic biology", "q3iSector13", "q3iSector", "SYNTHETICBIOLOGY", isSectorSelected) }}

            {% set isSectorSelected = (data['q3iSector']|length > 0) and ('TRANSPORT' in data['q3iSector']) %}
            {{ forms.checkBox("Transport", "q3iSector17", "q3iSector", "TRANSPORT", isSectorSelected) }}

          </div>
        </div>
        {{ govukCharacterCount({
              name: "q3iiReason",
              id: "q3iiReason",
              maxlength: 5000,
              label: {
                text: "Additional information",
                classes: "govuk-label--s"
              },
              value: data.q3iiReason,
              hint: {
                text: "Describe the qualifying entity's activities within these sectors."
              },
              attributes: {'required': true}
            }) }}
        <!-- Section B - Question 3 (i) - END -->
        {{ forms.saveAndContinueButton("submitButtonQ3P1") }}
      </form>

    </div>
  </div>
{% endblock %}