{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/task-list" %}
{% extends "../question.html" %}

{% block pageTitle %}
    Question 7 Page 1
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" id="submitQuestion7-1" name="submitQuestion7-1" action="/mandatory/question7/question7-1post"
            method="post">
            <div class="govuk-form-group">
                {{ forms.errorSummary(formValidation) }}

                <fieldset class="govuk-fieldset">
                    {% set countriesList = [{ "val":"AF", "label":"Afghanistan" },
                    { "val":"AX", "label":"Aland Islands" },
                    { "val":"AL", "label":"Albania" },
                    { "val":"DZ", "label":"Algeria" },
                    { "val":"AS", "label":"American Samoa" },
                    { "val":"AD", "label":"Andorra" },
                    { "val":"AO", "label":"Angola" },
                    { "val":"AI", "label":"Anguilla" },
                    { "val":"AQ", "label":"Antarctica" },
                    { "val":"AG", "label":"Antigua and Barbuda" },
                    { "val":"AR", "label":"Argentina" },
                    { "val":"AM", "label":"Armenia" },
                    { "val":"AW", "label":"Aruba" },
                    { "val":"AU", "label":"Australia" },
                    { "val":"AT", "label":"Austria" },
                    { "val":"AZ", "label":"Azerbaijan" },
                    { "val":"BS", "label":"Bahamas" },
                    { "val":"BH", "label":"Bahrain" },
                    { "val":"BD", "label":"Bangladesh" },
                    { "val":"BB", "label":"Barbados" },
                    { "val":"BY", "label":"Belarus" },
                    { "val":"BE", "label":"Belgium" },
                    { "val":"BZ", "label":"Belize" },
                    { "val":"BJ", "label":"Benin" },
                    { "val":"BM", "label":"Bermuda" },
                    { "val":"BT", "label":"Bhutan" },
                    { "val":"BO", "label":"Bolivia, Plurinational State of" },
                    { "val":"BQ", "label":"Bonaire, Sint Eustatius and Saba" },
                    { "val":"BA", "label":"Bosnia and Herzegovina" },
                    { "val":"BW", "label":"Botswana" },
                    { "val":"BV", "label":"Bouvet Island" },
                    { "val":"BR", "label":"Brazil" },
                    { "val":"IO", "label":"British Indian Ocean Territory" },
                    { "val":"BN", "label":"Brunei Darussalam" },
                    { "val":"BG", "label":"Bulgaria" },
                    { "val":"BF", "label":"Burkina Faso" },
                    { "val":"BI", "label":"Burundi" },
                    { "val":"KH", "label":"Cambodia" },
                    { "val":"CM", "label":"Cameroon" },
                    { "val":"CA", "label":"Canada" },
                    { "val":"CV", "label":"Cape Verde" },
                    { "val":"KY", "label":"Cayman Islands" },
                    { "val":"CF", "label":"Central African Republic" },
                    { "val":"TD", "label":"Chad" },
                    { "val":"CL", "label":"Chile" },
                    { "val":"CN", "label":"China" },
                    { "val":"CX", "label":"Christmas Island" },
                    { "val":"CC", "label":"Cocos (Keeling) Islands" },
                    { "val":"CO", "label":"Colombia" },
                    { "val":"KM", "label":"Comoros" },
                    { "val":"CG", "label":"Congo" },
                    { "val":"CD", "label":"Congo, the Democratic Republic of the" },
                    { "val":"CK", "label":"Cook Islands" },
                    { "val":"CR", "label":"Costa Rica" },
                    { "val":"CI", "label":"Côte d'Ivoire" },
                    { "val":"HR", "label":"Croatia" },
                    { "val":"CU", "label":"Cuba" },
                    { "val":"CW", "label":"Curaçao" },
                    { "val":"CY", "label":"Cyprus" },
                    { "val":"CZ", "label":"Czech Republic" },
                    { "val":"DK", "label":"Denmark" },
                    { "val":"DJ", "label":"Djibouti" },
                    { "val":"DM", "label":"Dominica" },
                    { "val":"DO", "label":"Dominican Republic" },
                    { "val":"EC", "label":"Ecuador" },
                    { "val":"EG", "label":"Egypt" },
                    { "val":"SV", "label":"El Salvador" },
                    { "val":"GQ", "label":"Equatorial Guinea" },
                    { "val":"ER", "label":"Eritrea" },
                    { "val":"EE", "label":"Estonia" },
                    { "val":"ET", "label":"Ethiopia" },
                    { "val":"FK", "label":"Falkland Islands (Malvinas)" },
                    { "val":"FO", "label":"Faroe Islands" },
                    { "val":"FJ", "label":"Fiji" },
                    { "val":"FI", "label":"Finland" },
                    { "val":"FR", "label":"France" },
                    { "val":"GF", "label":"French Guiana" },
                    { "val":"PF", "label":"French Polynesia" },
                    { "val":"TF", "label":"French Southern Territories" },
                    { "val":"GA", "label":"Gabon" },
                    { "val":"GM", "label":"Gambia" },
                    { "val":"GE", "label":"Georgia" },
                    { "val":"DE", "label":"Germany" },
                    { "val":"GH", "label":"Ghana" },
                    { "val":"GI", "label":"Gibraltar" },
                    { "val":"GR", "label":"Greece" },
                    { "val":"GL", "label":"Greenland" },
                    { "val":"GD", "label":"Grenada" },
                    { "val":"GP", "label":"Guadeloupe" },
                    { "val":"GU", "label":"Guam" },
                    { "val":"GT", "label":"Guatemala" },
                    { "val":"GG", "label":"Guernsey" },
                    { "val":"GN", "label":"Guinea" },
                    { "val":"GW", "label":"Guinea-Bissau" },
                    { "val":"GY", "label":"Guyana" },
                    { "val":"HT", "label":"Haiti" },
                    { "val":"HM", "label":"Heard Island and McDonald Islands" },
                    { "val":"VA", "label":"Holy See (Vatican City State)" },
                    { "val":"HN", "label":"Honduras" },
                    { "val":"HK", "label":"Hong Kong" },
                    { "val":"HU", "label":"Hungary" },
                    { "val":"IS", "label":"Iceland" },
                    { "val":"IN", "label":"India" },
                    { "val":"ID", "label":"Indonesia" },
                    { "val":"IR", "label":"Iran, Islamic Republic of" },
                    { "val":"IQ", "label":"Iraq" },
                    { "val":"IE", "label":"Ireland" },
                    { "val":"IM", "label":"Isle of Man" },
                    { "val":"IL", "label":"Israel" },
                    { "val":"IT", "label":"Italy" },
                    { "val":"JM", "label":"Jamaica" },
                    { "val":"JP", "label":"Japan" },
                    { "val":"JE", "label":"Jersey" },
                    { "val":"JO", "label":"Jordan" },
                    { "val":"KZ", "label":"Kazakhstan" },
                    { "val":"KE", "label":"Kenya" },
                    { "val":"KI", "label":"Kiribati" },
                    { "val":"KP", "label":"Korea, Democratic People's Republic of" },
                    { "val":"KR", "label":"Korea, Republic of" },
                    { "val":"KW", "label":"Kuwait" },
                    { "val":"KG", "label":"Kyrgyzstan" },
                    { "val":"LA", "label":"Lao People's Democratic Republic" },
                    { "val":"LV", "label":"Latvia" },
                    { "val":"LB", "label":"Lebanon" },
                    { "val":"LS", "label":"Lesotho" },
                    { "val":"LR", "label":"Liberia" },
                    { "val":"LY", "label":"Libya" },
                    { "val":"LI", "label":"Liechtenstein" },
                    { "val":"LT", "label":"Lithuania" },
                    { "val":"LU", "label":"Luxembourg" },
                    { "val":"MO", "label":"Macao" },
                    { "val":"MK", "label":"Macedonia, the former Yugoslav Republic of" },
                    { "val":"MG", "label":"Madagascar" },
                    { "val":"MW", "label":"Malawi" },
                    { "val":"MY", "label":"Malaysia" },
                    { "val":"MV", "label":"Maldives" },
                    { "val":"ML", "label":"Mali" },
                    { "val":"MT", "label":"Malta" },
                    { "val":"MH", "label":"Marshall Islands" },
                    { "val":"MQ", "label":"Martinique" },
                    { "val":"MR", "label":"Mauritania" },
                    { "val":"MU", "label":"Mauritius" },
                    { "val":"YT", "label":"Mayotte" },
                    { "val":"MX", "label":"Mexico" },
                    { "val":"FM", "label":"Micronesia, Federated States of" },
                    { "val":"MD", "label":"Moldova, Republic of" },
                    { "val":"MC", "label":"Monaco" },
                    { "val":"MN", "label":"Mongolia" },
                    { "val":"ME", "label":"Montenegro" },
                    { "val":"MS", "label":"Montserrat" },
                    { "val":"MA", "label":"Morocco" },
                    { "val":"MZ", "label":"Mozambique" },
                    { "val":"MM", "label":"Myanmar" },
                    { "val":"NA", "label":"Namibia" },
                    { "val":"NR", "label":"Nauru" },
                    { "val":"NP", "label":"Nepal" },
                    { "val":"NL", "label":"Netherlands" },
                    { "val":"NC", "label":"New Caledonia" },
                    { "val":"NZ", "label":"New Zealand" },
                    { "val":"NI", "label":"Nicaragua" },
                    { "val":"NE", "label":"Niger" },
                    { "val":"NG", "label":"Nigeria" },
                    { "val":"NU", "label":"Niue" },
                    { "val":"NF", "label":"Norfolk Island" },
                    { "val":"MP", "label":"Northern Mariana Islands" },
                    { "val":"NO", "label":"Norway" },
                    { "val":"OM", "label":"Oman" },
                    { "val":"PK", "label":"Pakistan" },
                    { "val":"PW", "label":"Palau" },
                    { "val":"PS", "label":"Palestinian Territory, Occupied" },
                    { "val":"PA", "label":"Panama" },
                    { "val":"PG", "label":"Papua New Guinea" },
                    { "val":"PY", "label":"Paraguay" },
                    { "val":"PE", "label":"Peru" },
                    { "val":"PH", "label":"Philippines" },
                    { "val":"PN", "label":"Pitcairn" },
                    { "val":"PL", "label":"Poland" },
                    { "val":"PT", "label":"Portugal" },
                    { "val":"PR", "label":"Puerto Rico" },
                    { "val":"QA", "label":"Qatar" },
                    { "val":"RE", "label":"Réunion" },
                    { "val":"RO", "label":"Romania" },
                    { "val":"RU", "label":"Russian Federation" },
                    { "val":"RW", "label":"Rwanda" },
                    { "val":"BL", "label":"Saint Barthélemy" },
                    { "val":"SH", "label":"Saint Helena, Ascension and Tristan da Cunha" },
                    { "val":"KN", "label":"Saint Kitts and Nevis" },
                    { "val":"LC", "label":"Saint Lucia" },
                    { "val":"MF", "label":"Saint Martin (French part)" },
                    { "val":"PM", "label":"Saint Pierre and Miquelon" },
                    { "val":"VC", "label":"Saint Vincent and the Grenadines" },
                    { "val":"WS", "label":"Samoa" },
                    { "val":"SM", "label":"San Marino" },
                    { "val":"ST", "label":"Sao Tome and Principe" },
                    { "val":"SA", "label":"Saudi Arabia" },
                    { "val":"SN", "label":"Senegal" },
                    { "val":"RS", "label":"Serbia" },
                    { "val":"SC", "label":"Seychelles" },
                    { "val":"SL", "label":"Sierra Leone" },
                    { "val":"SG", "label":"Singapore" },
                    { "val":"SX", "label":"Sint Maarten (Dutch part)" },
                    { "val":"SK", "label":"Slovakia" },
                    { "val":"SI", "label":"Slovenia" },
                    { "val":"SB", "label":"Solomon Islands" },
                    { "val":"SO", "label":"Somalia" },
                    { "val":"ZA", "label":"South Africa" },
                    { "val":"GS", "label":"South Georgia and the South Sandwich Islands" },
                    { "val":"SS", "label":"South Sudan" },
                    { "val":"ES", "label":"Spain" },
                    { "val":"LK", "label":"Sri Lanka" },
                    { "val":"SD", "label":"Sudan" },
                    { "val":"SR", "label":"Suriname" },
                    { "val":"SJ", "label":"Svalbard and Jan Mayen" },
                    { "val":"SZ", "label":"Swaziland" },
                    { "val":"SE", "label":"Sweden" },
                    { "val":"CH", "label":"Switzerland" },
                    { "val":"SY", "label":"Syrian Arab Republic" },
                    { "val":"TW", "label":"Taiwan, Province of China" },
                    { "val":"TJ", "label":"Tajikistan" },
                    { "val":"TZ", "label":"Tanzania, United Republic of" },
                    { "val":"TH", "label":"Thailand" },
                    { "val":"TL", "label":"Timor-Leste" },
                    { "val":"TG", "label":"Togo" },
                    { "val":"TK", "label":"Tokelau" },
                    { "val":"TO", "label":"Tonga" },
                    { "val":"TT", "label":"Trinidad and Tobago" },
                    { "val":"TN", "label":"Tunisia" },
                    { "val":"TR", "label":"Turkey" },
                    { "val":"TM", "label":"Turkmenistan" },
                    { "val":"TC", "label":"Turks and Caicos Islands" },
                    { "val":"TV", "label":"Tuvalu" },
                    { "val":"UG", "label":"Uganda" },
                    { "val":"UA", "label":"Ukraine" },
                    { "val":"AE", "label":"United Arab Emirates" },
                    { "val":"GB", "label":"United Kingdom" },
                    { "val":"US", "label":"United States" },
                    { "val":"UM", "label":"United States Minor Outlying Islands" },
                    { "val":"UY", "label":"Uruguay" },
                    { "val":"UZ", "label":"Uzbekistan" },
                    { "val":"VU", "label":"Vanuatu" },
                    { "val":"VE", "label":"Venezuela, Bolivarian Republic of" },
                    { "val":"VN", "label":"Viet Nam" },
                    { "val":"VG", "label":"Virgin Islands, British" },
                    { "val":"VI", "label":"Virgin Islands, U.S." },
                    { "val":"WF", "label":"Wallis and Futuna" },
                    { "val":"EH", "label":"Western Sahara" },
                    { "val":"YE", "label":"Yemen" },
                    { "val":"ZM", "label":"Zambia" },
                    { "val":"ZW", "label":"Zimbabwe" }] %}
                    {{ forms.legend("q7iHeading", "About the acquirer") }}

                    {{ forms.textInput(
                    "Name of acquirer",
                    "q7iNameOfAcquirer", "q7iNameOfAcquirer", data.q7iNameOfAcquirer, "", maxLength="100") }}

                    {{ forms.dropdownInput("Country of incorporation or nationality", "q7iCountryOfOrigin",
                    "q7iCountryOfOrigin", data.q7iCountryOfOrigin, countriesList) }}

                    <h2 id="q7iHeadingSub" class="govuk-heading-m">Is the acquirer an entity or an individual?</h2>

                    <div class="govuk-radios" aria-labelledby="q7iHeadingSub">
                        {% set isQuestionAnswered = data['q7iEntityOrIndividual'] %}
                        {% set isEntity = data['q7iEntityOrIndividual'] === 'entity' %}
    
                        {{ forms.radio("Entity",
                            "q7iEntityOrIndividual1", "q7iEntityOrIndividual", "entity", isQuestionAnswered and isEntity) }}
    
                        {{ forms.radio("Individual",
                            "q7iEntityOrIndividual2", "q7iEntityOrIndividual", "individual", isQuestionAnswered and not isEntity) }}
                    </div>

                </fieldset>
            </div>
            {{ forms.saveAndContinueButton("submitButton7-1") }}
        </form>
    </div>
</div>

{% endblock %}