{% extends "../add-to-list/add-another-form.html" %}
{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question5/question5-6" %}

{% block pageTitle %}Question 5 - 7b{% endblock %}

{% set formId = "q5viib" %}
{% set action = "/mandatory/question5/question5-7b" %}
{% set heading = "National Security Vetting (NSV) clearances required by personnel" %}
{% set listKey = "q5viiaNSVSCListItems" %}
{% set displayKey = "q5viiaLevel" %}
{% set addAnotherHint = "" %}
{% set addAnotherLabel = "Do you need to add another NSV clearance?" %}