{% extends "../add-to-list/add-item-form.html" %}
{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question5/question5-3" %}

{% block pageTitle %}Question 5 - 3a{% endblock %}

{% set formId = "q5iiia" %}
{% set action = "/mandatory/question5/question5-3a" %}

{% block formContent %}
<div class="govuk-form-group">
    {{ forms.errorSummary(formValidation) }}
    <fieldset class="govuk-fieldset">
        {{ forms.legend("q5iiiaHeading", "Add a licence") }}
        <div class="govuk-hint" for="q5ivIsApplicationSuccessful">
            Provide information about a licence. You’ll be given the option to add more licences on the next page.
        </div>

        {{ forms.textInput(
            "Name of licence",
            "q5iiiaLicence", "q5iiiaLicence", data.q5iiiaLicence, maxLength="100") }}

        {{ forms.textInput(
            "Name of issuer or regulator",
            "q5iiiaIssuer", "q5iiiaIssuer", data.q5iiiaIssuer, maxLength="100") }}

        {{ forms.dateInput("Date issued or declined", "q5iiiaIssueDate", "q5iiiaIssueDate", data.q5iiiaIssueDateDay, data.q5iiiaIssueDateMonth, data.q5iiiaIssueDateYear) }}
    </fieldset>
</div>
{% endblock %}