{% extends "../add-to-list/add-another-form.html" %}
{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question5/question5-4" %}

{% block pageTitle %}Question 5 - 5b{% endblock %}

{% set formId = "q5vb" %}
{% set action = "/mandatory/question5/question5-5b" %}
{% set heading = "Supply relationships" %}
{% set listKey = "q5vaPartyToListItems" %}
{% set displayKey = "q5vaArea" %}
{% set addAnotherHint = "" %}
{% set addAnotherLabel = "Do you need to add another supply relationship?" %}