{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question4/question4-1" %}
{% extends "../question.html" %}

{% block pageTitle %}
    Question 4 Page 2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set isQuestionAnswered = data['q4ibaddanotherRegulatoryApproval'] %}
        {% set isYes = data['q4ibaddanotherRegulatoryApproval'] === 'Yes' %}
        {% set isNo = data['q4ibaddanotherRegulatoryApproval'] === 'No' %}
        {% set isDontKnow = data['q4ibaddanotherRegulatoryApproval'] === 'Dontknow' %}

        {{ forms.legend("q4ibHeading", "UK regulatory approvals") }}

        {{ forms.errorSummary(formValidation) }}

        <div class="govuk-form-group">
            <dl class="hmrc-add-to-a-list hmrc-add-to-a-list--short">
                {% for i in range(0, data['q4ibRegulatoryApprovalList'].length) -%}
                <div class="hmrc-add-to-a-list__contents">
                    <dt class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
                        {{ data['q4ibRegulatoryApprovalList'][i].q4ibRegulatorName }}
                    </dt>
                    <dd class="hmrc-add-to-a-list__change">
                        <a class="govuk-link"
                            href="/mandatory/question4/question4-2cya/{{ data['q4ibRegulatoryApprovalList'][i].id }}">
                            <span>Change</span>
                            <span class="govuk-visually-hidden">Change {{
                                data['q2iPreviousNotificationList'][i].q4iRegulatorName }}</span>
                        </a>
                    </dd>
                    <dd class="hmrc-add-to-a-list__remove">
                        <a class="govuk-link"
                            href="/mandatory/question4/question4-2rem/{{ data['q4ibRegulatoryApprovalList'][i].id }}">
                            <span>Remove</span>
                            <span class="govuk-visually-hidden">Remove {{
                                data['q4ibRegulatoryApprovalList'][i].q4ibRegulatorName }} from the list</span>
                        </a>
                    </dd>
                </div>
                {%- endfor %}
            </dl>
        </div>

        <form class="form" id="submitQuestion4-2" name="submitQuestion4-2" action="/mandatory/question4/question4-2post"
            method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you need to add another regulatory approval?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        {{ forms.radio("Yes",
                        "q4ibaddanotherRegulatoryApprovalYes", "q4ibaddanotherRegulatoryApproval", "Yes", isQuestionAnswered and isYes, true) }}

                        {{ forms.radio("No",
                            "q4ibaddanotherRegulatoryApprovalNo", "q4ibaddanotherRegulatoryApproval", "No", isQuestionAnswered and isNo, true) }}

                     
                    </div>
                    
                </fieldset>
            </div>
            {{ forms.saveAndContinueButton("submitButton4-2") }}
        </form>
    </div>
</div>

{% endblock %}