{% extends "../add-to-list/add-item-form.html" %}
{% set section = 'mandatory' %}
{% set backlink = "/"+section+"/question5/question5-5" %}

{% block pageTitle %}Question 5 - 5a{% endblock %}

{% set formId = "q5va" %}
{% set action = "/mandatory/question5/question5-5a" %}

{% block formContent %}
<div class="govuk-form-group">
    {{ forms.errorSummary(formValidation) }}
    <fieldset class="govuk-fieldset">
        {{ forms.legend(formId + "Heading", "Add a supply relationship") }}

        <div class="govuk-hint">Provide information about a supply relationship. You’ll be given the option to add more supply relationships on the next page.</div>

        {{ govukCharacterCount({
            name: formId + "SupplyRelationship",
            value: data[formId + 'SupplyRelationship'],
            id: formId + "SupplyRelationship",
            maxlength: 5000,
            label: {
                text: "Description of supply relationship",
                classes: "govuk-label--s",
                isPageHeading: false
            }
        }) }}

        {% set areasList = [
            {val: "Defence", label: "Defence"},
            {val: "National security responsibilities", label: "National security responsibilities"},
            {val: "Law enforcement", label: "Law enforcement"},
            {val: "National infrastructure sector", label: "National infrastructure sector"}] %}

        {{ forms.dropdownInput("Area", formId + "Area", formId + "Area", data[formId + "Area"], areasList) }}

        {{ forms.textInput(
            "UK government department, agency or public body",
            formId + "Department", formId + "Department", data[formId + 'Department'], maxLength="100" ) }}
    </fieldset>
</div>
{% endblock %}