{% extends "prototypes/prototype.html" %}

{% block pageTitle %}
  Section A Prototype
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" id="navigateBackLink" name="navigateBackLink" href="/prototypes">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Screen 7</h1>    
        <div class="govuk-form-group">
           <!-- Put GOVUK HTML here -->
        </div>
        <div class="govuk-form-group">
            <a id="prototypeSubmitButton" href="" class="govuk-button">Save and continue</a>
        </div>
    </div>
</div>
{% endblock %}

