{% set section = 'voluntary' %}
{% set backlink = "/"+section+"/question5/question5-1" %}
{% extends "../add-to-list/add-another-form.html" %}

{% block pageTitle %}Question 5 alt - 2b{% endblock %}

{% set formId = "q5altiib" %}
{% set action = "/voluntary/question5/question5-2b" %}
{% set heading = "Government Security Classifications" %}
{% set listKey = "q5altiiaClassificationListItems" %}
{% set displayKey = "q5altiiaDepartment" %}
{% set isDisplayKeyGovDepartment = true %}
{% set addAnotherLabel = "Do you need to add another Security Classification?" %}