{% set section = 'voluntary' %}
{% if sdata["nonUKGovernmentList"]|length > 0 %}
{% set backlink = "/"+section+"/question6/question6-4" %}
{% else %}
{% set backlink = "/"+section+"/question6/question6-3" %}
{% endif %}
{% extends "../question.html" %}

{% block pageTitle %}
    Question 6 Page 4a
{% endblock %}

{% block content %}
  <!-- CONTINUE HERE -->
  <div class="govuk-grid-row">
      {{ forms.errorSummary(formValidation) }}
      <div class="govuk-grid-column-two-thirds">
        {{ forms.legend("q64aHeading", "Add a non-UK government or representative that has a role in the operation or decision making of the qualifying entity") }}

        <div class="govuk-hint">Provide information about a non-UK government or representative. You’ll be given the option to add more non-UK governments or representatives on the next page.</div>

      <form class="form" id="submitQuestion6Pg4a" name="submitQuestion6Pg4a" action="/voluntary/question6/question6-4apost" method="post">
            {% if (editingItem != null) and editingItem == true %}
            <input type="hidden" name="q6iiiDataEdit" id="q6iiiDataEdit" value="true" />
            <input type="hidden" name="itemRef" id="itemRef" value="{{ data['itemRef'] }}" />
            {% else %}
            <input type="hidden" name="q6iiiDataEdit" id="q6iiiDataEdit" value="false" />
            {% endif %}

            {{ forms.textInput(
              "Name of non-UK government or representative", "q6iiiNonUKGovernmentName", "q6iiiNonUKGovernmentName", data.q6iiiNonUKGovernmentName, maxLength="100") }}

            {{ govukCharacterCount({
                name: "q6iiiGovernmentInterest",
                value: data.q6iiiGovernmentInterest,
                id: "q6iiiGovernmentInterest",
                maxlength: 5000,
                label: {
                    text: "Describe its role and interests",
                    classes: "govuk-label--s",
                    isPageHeading: false
                }
            }) }}

            {{ forms.saveAndContinueButton("submitButtonQ6P4a") }} 
      </form>

    </div>
  </div>
{% endblock %}