{% set section = 'voluntary' %}
{% set backlink = "/"+section+"/question5/question5-5" %}
{% extends "../add-to-list/add-another-form.html" %}

{% block pageTitle %}Question 5 - 6b{% endblock %}

{% set formId = "q5vib" %}
{% set action = "/voluntary/question5/question5-6b" %}
{% set heading = "Funded research and development projects" %}
{% set listKey = "q5viaFundedResearchListItems" %}
{% set displayKey = "q5viaName" %}
{% set addAnotherLabel = "Do you need to add another research and development project?" %}