{% set section = 'voluntary' %}
{% set backlink = "/"+section+"/task-list" %}
{% extends "../question.html" %}

{% block pageTitle %}
  Question 6 Page 1
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['q6iPreAcquisitionChartFileName']|length == 0) and (uploadvalidation['isValid'] === false) and (uploadvalidation['fileName']|length > 0) %}
        {{ forms.fileUploadErrorSummary(uploadvalidation) }}
      {% endif %}
      {{ forms.legendMedium("q6iHeading", "Pre-acquisition structure chart of qualifying entity") }}

      <p>Upload a document which includes details of all shareholders who have share ownership or voting rights of 5% or over.</p>
      <p>It must include each relevant shareholder's:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>percentage of ownership</li>
        <li>details of voting rights</li>
        <li>nationality (or country of incorporation if it is an entity)</li>
      </ul>
      <p>The document must also include any other information that is relevant.</p>

      {% if (data['q6iPreAcquisitionChartFileName']|length > 0) and (data['q6isuccessMessage']|length > 0) %}
        <form class="form" id="submitQuestion6Pg1Success" action="/voluntary/question6/question6-1postsucccess" name="submitQuestion6Pg1Success" method="post">
          
          <table class="govuk-table" style="white-space: pre-wrap;">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Document Name</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ data['q6iPreAcquisitionChartFileName'] }}</th>
                <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link" href="/voluntary/question6/question6-1view/{{ data['fileuploadPreAcquisitionChartId'] }}"><span>Download</span></a></td>
                <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link" href="/voluntary/question6/question6-1rem/{{ data['fileuploadPreAcquisitionChartId'] }}"><span>Remove</span></a></td>
              </tr>
            </tbody>
          </table>

          {{ forms.continueButton("submitButtonQ6Pg1Success") }}
        </form>
      {% else %}
      <form class="form" id="submitQuestion6Pg1" name="submitQuestion6Pg1" enctype="multipart/form-data" action="/voluntary/question6/question6-1post" method="post">

            {{ forms.fileUploadInput("Upload a file", "fileuploadPreAcquisitionChart", "fileuploadPreAcquisitionChart", hintText="File must be 10MB or less in PDF, DOCX, XLSX or PPTX format") }}

            {{ forms.saveAndContinueButton("submitButtonQ6P1") }}
      </form>
      {% endif %}
    </div>
  </div>
{% endblock %}